<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   faultType.plist
   njdtmaster

   Created by 尹浩 on 2018/3/19.
   Copyright (c) 2018年 尹浩. All rights reserved.
-->

<plist version="1.0">
    <array>
        <dict>
            <key>cities</key>
            <array>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>生活垃圾导致开关门受阻，电梯停止运行</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>野蛮搬运导致门变形，电梯无法运行</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>装修垃圾导致开关门受阻，电梯停止运行</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>超载</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>阻挡关门时间过长，电梯无法运行</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>其他</string>
                </dict>
            </array>
            <key>state</key>
            <string>人为原因</string>
        </dict>
        <dict>
            <key>cities</key>
            <array>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>电梯在运行过程中出现的停电</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>电气部件进水导致的短路故障</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>机房温度过高，电气控制系统自动保护</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>故障后自动恢复运行</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>其他</string>
                </dict>
            </array>
            <key>state</key>
            <string>外部原因</string>
        </dict>
        <dict>
            <key>cities</key>
            <array>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>轿门锁失效</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>厅门锁失效</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>门机故障</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>门刀与滚轮间距调整不良</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>安全触板、光幕等防夹人保护装置无效</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>主动门与从动门之间的联动失效</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>门触点失效</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>门挂轮破损</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>门导向系统失效</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>其他</string>
                </dict>
            </array>
            <key>state</key>
            <string>门系统</string>
        </dict>
        <dict>
            <key>cities</key>
            <array>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>平衡系统不再标准范围内</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>曳引轮磨损</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>曳引机缺油或油量过多</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>传动皮带过松</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>钢丝绳卡阻或跳槽</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>钢丝绳磨损</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>变速箱故障</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>其他</string>
                </dict>
            </array>
            <key>state</key>
            <string>曳引系统</string>
        </dict>
        <dict>
            <key>cities</key>
            <array>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>导靴磨损</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>导轨润滑欠缺</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>其他</string>
                </dict>
            </array>
            <key>state</key>
            <string>导向系统</string>
        </dict>
        <dict>
            <key>cities</key>
            <array>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>轿厢壁变形</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>照明失效</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>紧急报警失效</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>其他</string>
                </dict>
            </array>
            <key>state</key>
            <string>轿厢</string>
        </dict>
        <dict>
            <key>cities</key>
            <array>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>控制主板失效</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>电气元器件失效</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>平层感应器失效</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>极限开关、急停开关、维修开关等传感器失效</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>电气连接不可靠</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>编码器失效</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>主电源开关失效</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>召唤失效</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>电梯重启故障</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>其他</string>
                </dict>
            </array>
            <key>state</key>
            <string>控制系统</string>
        </dict>
        <dict>
            <key>cities</key>
            <array>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>变频器失效</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>电动机失效</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>制动器故障</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>主电源断开</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>其他</string>
                </dict>
            </array>
            <key>state</key>
            <string>电气系统</string>
        </dict>
        <dict>
            <key>cities</key>
            <array>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>安全回路断开</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>消防开关失效</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>限速器开关动作</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>安全钳开关动作</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>缓冲器开关动作</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>张紧轮开关动作</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>上行超速保护开关动作</string>
                </dict>
                <dict>
                    <key>areas</key>
                    <array/>
                    <key>city</key>
                    <string>其他</string>
                </dict>
            </array>
            <key>state</key>
            <string>安全保护装置</string>
        </dict>
    </array>
</plist>
